<template>
  <section id="board-room" class="hero is-fullheight">
    <div class="hero-body">
      <video :src="require(`@/assets/videos/alien-message.mp4`)" @ended="onVideoEnded" v-if="showVideo"></video>

      <div class="container">
        <div class="columns is-vcentered">
          <div class="buttons" :key="showVideoButton">
            <button class="button is-orange is-medium" @click="playVideo" v-show="showVideoButton">
              Details of Crisis
            </button>
          </div>

          <div class="column is-5 text-left">
            <div class="scrolling" v-if="!showVideoButton">
              <h1 class="title has-text-weight-bold">Crisis 124</h1>

              <div class="text" :key="index" v-for="(message, index) in messages">
                <p class="content">{{ message.text }}</p>
              </div>
            </div>
          </div>

          <div class="column is-6">
            <div class="buttons" v-show="showMessageButton">
              <div class="invis-button" @click="playMessage"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
      <message-modal :key="isActive" :isActive="isActive" @closeMessageModal="closeMessageModal"/>
    </transition>
  </section>
</template>

<script>
  import NextSection from '@/components/NextSection'
  import MessageModal from '@/components/MessageModal'

  export default {
    name: 'BoardRoom',
    components: { NextSection, MessageModal },
    data () {
      return {
        showVideoButton: true,
        showMessageButton: false,
        showVideo: true,
        isActive: false,
        video: 'alien-message.mp4',
        messages: [
          { text: 'It has become a concern that food resources may not be sufficient to feed the hungry billions.\n' },
          { text: 'Planetary health has degenerated.\n' },
          { text: 'It is imperative for the planets to reassess their food production and distribution systems.\n' },
          { text: 'If not, alien populations will disintegrate to naught across the galaxies.' }
        ]
      }
    },
    methods: {
      playVideo () {
        const video = document.querySelector('video')
        video.play()

        this.showVideoButton = false
      },
      playMessage () {
        this.isActive = true
      },
      onVideoEnded () {
        this.showMessageButton = true
      },
      closeMessageModal () {
        this.isActive = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background-position: bottom;
    overflow: hidden;
  }

  .invis-button {
    cursor: pointer;
    width: 35vw;
    height: 35vw;
    margin-top: -20vh;
    border-radius: 50%;
    animation: glow-grow 1.5s ease-out infinite;
    background: radial-gradient(circle, rgb(0, 11, 255), rgb(0, 11, 255), rgb(255, 77, 105));
    mix-blend-mode: color-dodge;
  }

  @keyframes glow-grow {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }

  .is-orange {
    border: none;
  }

  .text-left {
    overflow: hidden;

    .scrolling {
      animation: scrolling 4s linear;
      .title {
        font-size: 2.5em;
      }

      .text {
        font-size: 1.2em;
        width: 55%;
        margin: 2% 0;
        line-height: 110%;
      }
    }
  }

  #board-room {
    position: relative;
  }

  video {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    bottom: 0;
    left: 0;
  }

  @keyframes scrolling {
    0% {
      opacity: 0;
      transform: translateY(400px);
    }
    50% {
      opacity: 0;
      transform: translateY(400px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
</style>
