<template>
  <section id="conference">
    <div id="conference-cover cover" class="hero is-fullheight"
         :style="{ backgroundImage: `url(${require(`@/assets/images/bg-conference-cover.jpg`)})` }">
      <div class="hero-body">
        <div class="container">
          <div class="column is-5">
            <transition enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOutLeft">
              <img class="bannerOne" :src="require(`@/assets/images/banner.png`)" alt="" v-show="showBanner">
            </transition>
            <p class="content is-size-5 page-one-text">
              After a long and tiring journey, Planetoon arrives on Earth. He proceeds straight for the conference.
            </p>
          </div>
        </div>
      </div>

      <next-section next="conference-1"/>
    </div>

    <div id="conference-1" class="hero is-fullheight"
         :style="{ backgroundImage: `url(${require(`@/assets/images/bg-conference-1.jpg`)})` }">
      <div class="hero-body">

        <div class="banner">
          <img :src="require(`@/assets/images/banner.png`)">
        </div>

        <div class="container">
          <div class="column is-half is-offset-half">
            <div class="box">
              <p class="content">
                <i class="fas fa-quote-left"></i>&emsp;We are honoured to have distinguished guests from all across the universe to attend the Inaugural Interplanetary Food Security Conference. We
                recognise the crisis that is happening in many planets, the crisis of food security.&emsp;
                <i class="fas fa-quote-right"></i>
              </p>
            </div>
          </div>
        </div>
      </div>

      <next-section next="conference-2"/>
    </div>

    <div id="conference-2" class="hero is-fullheight"
         :style="{ backgroundImage: `url(${require(`@/assets/images/bg-conference-2.jpg`)})` }">
      <div class="hero-body">

        <div class="cam-one">
          <img :src="require(`@/assets/images/cam-one.png`)" alt="">
        </div>

        <div class="cam-two">
          <img :src="require(`@/assets/images/cam-two.png`)" alt="">
        </div>

        <div class="banner">
          <img :src="require(`@/assets/images/banner.png`)" alt="">
        </div>

        <div class="container">
          <div class="column is-5 is-offset-7">
            <div class="box">
              <p class="content">
                <i class="fas fa-quote-left"></i>&emsp;Today, Earth is proud to show you four of our best practices,
                four specific strategies that
                we have implemented to curb food problems. Let's keep in mind these keywords.
              </p>

              <div class="content">
                <ul>
                  <li>Science and Technology</li>
                  <li> Distribution</li>
                  <li> Local Food Systems</li>
                  <li> Regulation</li>
                </ul>
              </div>

              <p class="content">
                We welcome Professor Evan Fraser to share his ideas on the issue of Food Security.
                After the videos, there will be a panel discussion.&emsp;<i class="fas fa-quote-right"></i>
              </p>
            </div>
          </div>
        </div>
      </div>

      <next-section next="video-thumbs"/>
    </div>
  </section>
</template>

<script>
  import NextSection from '@/components/NextSection'

  export default {
    name: 'Conference',
    components: { NextSection },
    props: {
      collapseSidebar: Boolean
    },
    data () {
      return {
        showBanner: false,
        showVideos: false,
        scroll: {
          bannerPosition: 0,
          currentPosition: 0,
          videoPosition: 0
        }
      }
    },
    mounted () {
      this.animateBanner()
    },
    methods: {
      animateBanner () {
        const section = document.getElementById('conference')
        const upperBoundary = section.offsetTop

        window.addEventListener('scroll', ev => {
          if (window.scrollY >= upperBoundary) {
            this.showBanner = true
          }
        })
      }
      // toggleSidebar () {
      //   const section = document.getElementById('conference-2')
      //   const upperBoundary = section.offsetTop
      //   const lowerBoundary = section.offsetTop + section.clientHeight
      //
      //   window.addEventListener('scroll', ev => {
      //     if (window.scrollY >= upperBoundary && window.scrollY <= lowerBoundary) {
      //       this.$emit('showSidebar')
      //     } else {
      //       this.$emit('hideSidebar')
      //     }
      //   })
      // }
    }
  }
</script>

<style lang="scss" scoped>
  #conference-cover {
    width: 100vw;
  }

  #conference-1, #conference-2 {
    position: relative;
  }

  .page-one-text {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2% 3%;
    margin-top: 15%;
    border-radius: 5px;
  }

  .cam-one {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 7.5%;
    animation: bounce 2s infinite reverse ease-in-out;
  }

  .cam-two {
    position: absolute;
    top: 8%;
    left: 45%;
    width: 7.5%;
    animation: bounce 3s infinite ease-in-out;
  }

  .banner {
    position: absolute;
    top: 3%;
    right: 10%;
    width: 20%;
  }

  .hero {
    background-size: cover;
  }

  .is-vertical {
    height: 100vh;
    background-color: #333;
  }

  .box {
    margin: 20% 0 -20% 0;
    background-color: rgba(255, 255, 255, 0.75);
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
</style>
