<template>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered has-text-centered animated slideInUp">
          <div class="column is-half is-offset-one-quarter">
            <p class="content">
              © 2018 Curriculum Planning & Development Division
              <br/>
              Ministry of Education, Singapore
            </p>

            <p class="content">All rights reserved</p>

            <h1 class="title">Acknowledgement</h1>

            <p class="content">
              The Ministry of Education wishes to thank Dr Evan Fraser from The University of Guelph for the use of his videos "Feeding 9 Billion".
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Credits',
    mounted () {
      setTimeout(() => this.$router.push('/introduction'), 4000)
    }
  }
</script>

<style lang="scss" scoped>
  * {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
  }

  .slideInUp {
    animation-timing-function: linear;
    animation-duration: 3s;
  }

  .credits-roll {
    animation-name: creditsRoll;
    animation-timing-function: linear;
    animation-duration: 10s;
  }

  @keyframes creditsRoll {
    0% {
      -webkit-transform: translateY(125vh);
      -moz-transform: translateY(125vh);
      -ms-transform: translateY(125vh);
      -o-transform: translateY(125vh);
      transform: translateY(125vh);
    }

    100% {
      -webkit-transform: translateY(-125vh);
      -moz-transform: translateY(-125vh);
      -ms-transform: translateY(-125vh);
      -o-transform: translateY(-125vh);
      transform: translateY(-125vh);
    }
  }
</style>
