<template>
  <section class="hero is-fullheight"
           :style="{ background: `url(${require(`@/assets/images/bg-dashboard.jpg`)})`, backgroundRepeat: 'no-repeat', backgroundSize: 'cover' }">
    <div class="hero-body is-paddingless">
      <div class="container">
        <div class="columns has-text-centered">
          <div class="column is-3 is-vertical no-print">
            <div class="box is-paddingless inventory-items">
              <inventory-item :key="item.id" :item="item" v-for="item in items" @selectItem="selectItem"
                              @handleMouseDown="onMouseDown" @handleMouseUp="onMouseUp"/>
            </div>

            <div class="content">
              <div class="field">
                <input type="text" id="text-input" class="input is-rounded" placeholder="Enter some text" :value="text"
                       @keyup.enter="addTextToCanvas"/>

                <label for="text-input" class="label">Press <code>ENTER</code> when you are done</label>
              </div>

              <button class="button is-orange" @click="returnHome">Back to Conference</button>
            </div>
          </div>

          <div class="column">
            <dropzone/>

            <div class="column no-print">
              <transition enter-active-class="animated flipInY" leave-active-class="animated flipOutX">
                <div class="buttons is-centered" v-if="showClearButton">
                  <button class="button is-dark is-rounded is-clear-button" @click="clearCanvas">
                    <span class="icon"><i class="fas fa-trash"></i></span>
                  </button>

                  <button class="button is-dark is-rounded" @click="saveLayout">
                    <span class="icon"><i class="fas fa-save"></i></span>
                  </button>

                  <button class="button is-dark is-rounded" @click="printLayout">
                    <span class="icon"><i class="fas fa-print"></i></span>
                  </button>
                </div>
              </transition>
            </div>
          </div>

          <transition enter-active-class="animated slideInRight" leave-active-class="animated slideOutRight">
            <item-property :key="showProperty" :showProperty="showProperty" :selectedItem="selectedItem"
                           v-if="Object.keys(selectedItem).length > 0"/>
          </transition>
        </div>
      </div>
    </div>

    <transition enter-active-class="animated slideInDown" leave-active-class="animated slideOutUp">
      <notification :key="notification.message" class="is-fixed-top" :notification="notification"
                    v-if="Object.keys(notification).length > 0"></notification>
    </transition>

    <transition enter-active-class="animated fadeIn">
      <tutorial-modal :isActive="isActive" @closeModal="closeModal" v-if="isActive"></tutorial-modal>
    </transition>
  </section>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'
  import Dropzone from '@/components/Dropzone.vue'
  import ItemProperty from '@/components/ItemProperty.vue'
  import InventoryItem from '@/components/InventoryItem.vue'
  import TutorialModal from '@/components/TutorialModal'
  import Notification from '@/components/Notification'

  export default {
    name: 'Dashboard',
    components: {
      Dropzone, ItemProperty, InventoryItem, TutorialModal, Notification
    },
    beforeRouteLeave (to, from, next) {
      const confirm = window.confirm('Are you sure you want to leave? Your progress will be lost!')

      confirm ? next() : next(false)
    },
    data () {
      return {
        text: '',
        isActive: false,
        notification: {}
      }
    },
    computed: {
      ...mapState(['items', 'canvasItems', 'draggableItem', 'selectedItem', 'showProperty']),
      ...mapGetters(['showClearButton'])
    },
    watch: {
      canvasItems () {
        const placeholder = document.querySelector('.is-help-text')

        if (this.canvasItems.length > 0 && placeholder !== null) placeholder.remove()
      }
    },
    mounted () {
      const hasTutorial = JSON.parse(window.localStorage.getItem('hasTutorial'))

      if (hasTutorial || hasTutorial === null) this.isActive = true
    },
    methods: {
      returnHome () {
        this.$router.push('/content')
      },
      endGame () {
        this.$router.push('/credits')
      },
      clearCanvas () {
        const canvas = document.getElementById('canvas')
        const children = Array.from(canvas.children)

        children.forEach(child => child.remove())

        this.$store.commit('clearCanvas')

        this.notify({
          type: 'warning',
          message: 'Layout has been temporarily cleared. This does not clear the one that have already been saved.'
        }, 3500)
      },
      addTextToCanvas () {
        const canvas = document.getElementById('canvas')
        const textInput = document.getElementById('text-input')

        this.text = textInput.value

        const customText = document.createElement('div')
        customText.innerText = this.text
        customText.setAttribute('id', `item-${this.uniqueId()}`)
        customText.classList.add('is-text-input')

        Object.assign(customText.dataset, {
          name: 'Text',
          type: 'text',
          rotate: 0,
          scale: 1
        })

        Object.assign(customText.style, {
          position: 'absolute',
          top: `${canvas.offsetTop}px`,
          left: `${canvas.offsetLeft}px`,
          cursor: 'move'
        })

        const item = {
          uuid: customText.id,
          name: 'Text',
          rotation: 0,
          scale: 1
        }

        customText.addEventListener('click', () => {
          this.setShowProperty(item)
        })

        customText.addEventListener('mousedown', ev => this.onMouseDown(ev, item))
        customText.addEventListener('mouseup', this.onMouseUp)

        canvas.appendChild(customText)

        this.$store.commit('appendCloneToCanvasItem', item)

        this.text = ''
      },
      onMouseDown (ev, item) {
        ev.preventDefault()

        this.$store.commit('setDraggableItem', item)

        this.drag = true

        this.offsetX = ev.clientX
        this.offsetY = ev.clientY

        this.coordX = parseInt(ev.target.style.left)
        this.coordY = parseInt(ev.target.style.top)

        const canvas = document.getElementById('canvas')

        if (ev.target.parentElement === canvas) window.onmousemove = this.onMouseMove

        return false
      },
      onMouseMove (ev) {
        if (!this.drag) { return }

        const canvas = document.getElementById('canvas')
        const item = document.getElementById(this.draggableItem.uuid)

        const boundaryX = ev.clientX < canvas.getBoundingClientRect().left || ev.clientX > canvas.getBoundingClientRect().left + canvas.getBoundingClientRect().width
        const boundaryY = ev.clientY < canvas.getBoundingClientRect().top || ev.clientY > canvas.getBoundingClientRect().top + canvas.getBoundingClientRect().height

        if (!(boundaryX || boundaryY)) {
          item.style.left = `${this.coordX + ev.clientX - this.offsetX}px`
          item.style.top = `${this.coordY + ev.clientY - this.offsetY}px`
        }
      },
      onMouseUp () {
        this.drag = false
      },
      setShowProperty (item) {
        this.$store.commit('setShowProperty', item)
      },
      uniqueId () {
        let text = ''
        const possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'

        for (let i = 0; i < 16; i++) {
          text += possible.charAt(Math.floor(Math.random() * possible.length))
        }

        return text
      },
      appendItemToCanvas (obj) {
        const clone = obj.cloneNode(true)

        const canvas = document.getElementById('canvas')

        let uuid = `item-${this.uniqueId()}`

        clone.setAttribute('id', uuid)

        Object.assign(clone.dataset, {
          type: 'objects',
          rotate: 0,
          scale: 1
        })

        Object.assign(clone.style, {
          position: 'absolute',
          top: `${canvas.offsetTop}px`,
          left: `${canvas.offsetLeft}px`,
          width: '128px',
          height: '128px',
          zIndex: 1,
          cursor: 'move',
          transform: 'rotate(0) scale(1)'
        })

        const item = {
          uuid: uuid,
          name: clone.dataset.name,
          rotation: 0,
          scale: 1,
          zIndex: 1
        }

        clone.addEventListener('click', () => {
          this.setShowProperty(item)
        })

        clone.addEventListener('mousedown', ev => this.onMouseDown(ev, item))
        clone.addEventListener('mouseup', this.onMouseUp)

        this.$store.commit('appendCloneToCanvasItem', item)

        canvas.appendChild(clone)
      },
      selectItem (ev) {
        const canvas = document.getElementById('canvas')

        ev.target.parentElement === canvas ? this.setShowProperty(ev.target) : this.appendItemToCanvas(ev.target)
      },
      saveLayout () {
        const items = []
        const canvas = document.getElementById('canvas')
        const children = Array.from(canvas.children)

        children.forEach(child => {
          const style = {
            id: child.id,
            dataset: child.dataset,
            innerText: child.innerText,
            style: JSON.stringify(child.style.cssText)
          }

          items.push(style)
        })

        window.localStorage.setItem('items', JSON.stringify(items))

        this.notify({
          type: 'success',
          message: 'The layout has been saved.'
        }, 3500)
      },
      notify (notification, timeout) {
        this.notification = notification

        setTimeout(() => {
          this.notification = {}
        }, timeout)
      },
      printLayout () {
        window.print()
      },
      closeModal () {
        this.isActive = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .is-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .inventory-items {
    background-color: #c9cfdb;
    height: 70vh;
    overflow-y: auto;

    > img {
      margin: 5px;
      width: 64px;
      height: 64px;
    }

    &::-webkit-scrollbar {
      width: 1em;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(255, 255, 255, 0.25);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #CB5834;
    }
  }

  @media print {
    @page {
      size: landscape
    }

    .no-print {
      display: none;
    }
  }
</style>
