<template>
  <div class="modal" :class="{ 'is-active': isActive }">
    <div class="modal-background" @click="closeModal"></div>

    <div class="modal-content">
      <button class="delete is-pulled-right" aria-label="close" @click="closeModal"></button>
      <video :src="require(`@/assets/videos/discussion-video.mp4`)" autoplay controls></video>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'DiscussionModal',
    props: {
      isActive: Boolean
    },
    methods: {
      closeModal () {
        this.$emit('closeModal')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .modal-content {
    width: 80%;
  }
</style>
