<template>
  <div id="canvas" @click="deselectItem" ref="canvas">
    <div class="column is-help-text">
      <p class="content is-size-4">Click on the items from the left to add them here.</p>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'Dropzone',
    data () {
      return {
        drag: false
      }
    },
    computed: {
      ...mapState(['items', 'selectedItem'])
    },
    mounted () {
      this.loadItemsFromLocalStorage()
    },
    methods: {
      loadItemsFromLocalStorage () {
        const canvas = document.getElementById('canvas')
        const items = JSON.parse(window.localStorage.getItem('items')) || []

        if (items.length > 0) {
          items.forEach(item => {
            const element = document.createElement('div')

            element.id = item.id
            element.dataset.name = item.dataset.name
            element.dataset.rotate = item.dataset.rotate
            element.dataset.scale = item.dataset.scale
            element.innerText = item.innerText
            element.style.cssText = JSON.parse(item.style)

            element.addEventListener('click', () => {
              this.$parent.setShowProperty({
                uuid: item.id,
                name: item.dataset.name,
                rotation: parseFloat(item.dataset.rotate),
                scale: parseFloat(item.dataset.scale),
                zIndex: parseInt(item.dataset.zIndex)
              })
            })

            element.addEventListener('mousedown', ev => this.$parent.onMouseDown(ev, { uuid: element.id }))
            element.addEventListener('mouseup', this.$parent.onMouseUp)

            canvas.appendChild(element)

            this.$store.commit('appendCloneToCanvasItem', { uuid: element.id })

            this.$parent.notify({
              type: 'success',
              message: 'Items have been loaded from your saved layout.'
            }, 3500)
          })
        }
      },
      deselectItem (ev) {
        if (ev.target === this.$refs.canvas) this.$store.commit('setHideProperty')
      }
    }
  }
</script>

<style lang="scss" scoped>
  #canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c9cfdb;
    height: 80vh;
  }
</style>
