<template>
  <section id="infographic" class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-infographics.jpg`)})` }">
    <div class="hero-body">
      <div class="container">
        <div class="column is-one-quarter is-pulled-right">
          <div class="content">
            <h2 class="subtitle is-uppercase has-text-weight-bold">
              Planetoon returns to his Planet to share his learning
            </h2>
          </div>

          <p class="content">
            Planetoon is expected to present his learning points to his committee.
          </p>

          <p class="content">
            Help Planetoon by creating a report in the form of an infographic to represent the big ideas on food security issues.
          </p>

          <button class="button is-primary is-medium is-uppercase is-fullwidth" @click="gotoDashboard">
            <span class="is-size-6">Create Infographic Report</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Infographic',
    methods: {
      gotoDashboard () {
        this.$router.push('/dashboard')
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background-size: cover;
  }

  .button {
    &.is-primary {
      background-color: #40a095;

      &:hover {
        background-color: #40a095;
      }
    }
  }
</style>
