<template>
  <section id="introduction" class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-splash.jpg`)})` }">
    <div class="hero-body">
      <div class="container">
        <div class="column is-one-quarter">
          <div class="content is-uppercase has-text-weight-bold">
            <span class="headline primary">Conference for</span>
            <br/>
            <span class="headline secondary">Food Security</span>
          </div>

          <hr/>

          <p class="content is-size-4">The dilemma surrounding the issue of food production.</p>

          <button class="button is-primary is-large is-uppercase is-fullwidth" @click="start">
            <span class="is-not-hover">Click Here</span>
            <span class="is-hover">Let's Begin</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'introduction',
    methods: {
      start () {
        this.$router.push('/content')
      }
    }
  }
</script>

<style lang="scss" scoped>
  * {
    color: #4f4b45;
  }

  section {
    background-size: cover;
  }

  hr {
    border: thin solid #fff;
  }

  p {
    &.content {
      color: #212121;
    }
  }

  .content {
    .headline {
      font-family: "Oswald Medium", sans-serif;
      font-weight: 500;
      color: #eee;

      &.primary {
        font-size: 2.2em;
        color: #212121;
      }

      &.secondary {
        font-size: 2.4em;
      }
    }
  }

  .is-primary {
    span {
      color: #fff;
      position: absolute;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;

      &.is-not-hover {
        opacity: 1;
      }

      &.is-hover {
        opacity: 0;
      }
    }

    &:hover {
      background-color: #da6633;

      span {
        &.is-not-hover {
          opacity: 0;
        }

        &.is-hover {
          opacity: 1
        }
      }
    }
  }
</style>
