<template>
  <div class="draggable-item" :style="itemStyle" @click="selectItem" @mousedown="handleMouseDown"
       @mouseup="handleMouseUp" :data-name="item.name"
       :data-icon="require(`@/assets/images/inventory/${icon}.png`)"></div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'InventoryItem',
    props: {
      item: Object
    },
    data () {
      return {
        itemStyle: {}
      }
    },
    computed: {
      ...mapState(['selectedItem']),
      icon () {
        return this.item.name.toLowerCase().replace(/\s+/g, '-')
      }
    },
    mounted () {
      this.itemStyle = {
        width: '96px',
        height: '96px',
        display: 'inline-block',
        backgroundImage: `url(${require(`@/assets/images/inventory/${this.icon}.png`)})`,
        backgroundSize: '100% 100%'
      }
    },
    methods: {
      handleMouseDown (ev) {
        this.$emit('handleMouseDown', ev)
      },
      handleMouseUp (ev) {
        this.$emit('handleMouseUp', ev)
      },
      selectItem (ev) {
        this.$emit('selectItem', ev)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .draggable-item {
    margin: 5px;

    -webkit-transition: transform 0.5s, width 0.5s;
    -moz-transition: transform 0.5s, width 0.5s;
    -ms-transition: transform 0.5s, width 0.5s;
    -o-transition: transform 0.5s, width 0.5s;
    transition: transform 0.5s, width 0.5s;
  }

  .item-property {
    opacity: 0;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    &.active {
      opacity: 1;
    }
  }
</style>
