<template>
  <section id="invitation" class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-invitation-cover.jpg`)})` }">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <transition enter-active-class="animated fadeIn">
              <div class="box" v-show="Object.values(message).length > 0">
                <p class="title" v-html="message.title"></p>

                <p class="content" :key="index" v-for="(paragraph, index) in message.paragraphs"
                   v-html="paragraph.text"></p>

                <div class="buttons is-centered">
                  <transition enter-active-class="animated flipInX" leave-active-class="animated flipOutX">
                    <button class="button is-dark is-fullwidth is-uppercase" @click="setReserveStatus"
                            v-if="showRSVPButton">
                      RSVP
                    </button>
                  </transition>
                </div>
              </div>
            </transition>
          </div>

          <div class="column">
            <!--<img src="https://via.placeholder.com/350x150?text=Image+of+Orb+here" alt="Image of Orb"-->
                 <!--@click="showRSVPMessage"/>-->
          </div>
        </div>
      </div>
    </div>

    <next-section next="preparation"/>
  </section>
</template>

<script>
  import NextSection from '@/components/NextSection'

  export default {
    name: 'BoardRoom',
    components: { NextSection },
    data () {
      return {
        messageIndex: 0,
        messages: [
          {},
          {
            title: '<b>From: Earthling 313</b>',
            paragraphs: [
              {
                text: 'Dear Planetoon, you are invited to Earth for the ‘Inaugural Interplanetary Food Security Convention.'
              },
              {
                text: 'We wish to address this issue, observe best practices,and find a way for all of us in our galaxies to meet the needs of food production.'
              },
              {
                text: 'Please RSVP.'
              }
            ]
          },
          {
            title: '<b>From: Earthling 313</b>',
            paragraphs: [
              {
                text: 'Dear Planetoon,'
              },
              {
                text: 'You have confirmed your attendance. We look forward to seeing you at the conference.'
              }
            ]
          }
        ],
        showRSVPButton: false
      }
    },
    computed: {
      message () {
        return this.messages[this.messageIndex]
      }
    },
    methods: {
      increaseMessageIndex () {
        this.messageIndex++
      },
      showRSVPMessage () {
        this.increaseMessageIndex()

        setTimeout(() => {
          this.showRSVPButton = true
        }, 2500)
      },
      setReserveStatus () {
        this.increaseMessageIndex()

        this.showRSVPButton = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  img {
    cursor: pointer;
  }
</style>
