<template>
  <div class="column is-one-fifth-desktop no-print">
    <div class="box is-property-box">
      <div class="box is-name">
        <p class="is-size-4 has-text-weight-bold">{{ selectedItem.name }}</p>
      </div>

      <div class="field">
        <label class="label" for="rotate">Rotate ({{ selectedItem.rotation }}&#176;)</label>
        <input type="range" id="rotate" class="is-rounded" min="0" max="360" step="45"
               :value="selectedItem.rotation" @change="rotateItem"/>
      </div>

      <div class="field">
        <label class="label" for="scale">Scale ({{ selectedItem.scale.toFixed(1) }})</label>
        <input type="range" id="scale" class="is-rounded" min="0.5" max="3" step="0.1" :value="selectedItem.scale"
               @change="scaleItem">
      </div>

      <div class="field">
        <label class="label">Stack Order</label>

        <div class="buttons is-centered">
          <button class="button is-primary" @click="orderForward">&plus;</button>

          <button class="button is-primary" @click="orderBackward">&minus;</button>
        </div>
      </div>

      <!--<div class="field" v-if="selectedItem.name.includes('Shape') || selectedItem.name.includes('Text')">-->
      <!--<div class="dropdown" :class="{ 'is-active': colorPickerActive }">-->
      <!--<div class="dropdown-trigger">-->
      <!--<button class="button is-rounded tooltip is-tooltip-left is-tooltip-info is-selected-color" disabled-->
      <!--data-tooltip="Disabled due to multiple bugs. This will be implemented in the next release"-->
      <!--aria-haspopup="true" aria-controls="dropdown-menu" @click="colorPickerActive = !colorPickerActive">-->
      <!--<span v-if="selectedItem.color">-->
      <!--<span class="is-color-box" :style="{ backgroundColor: selectedItem.color.hex }"></span>-->
      <!--{{ selectedItem.color.name }}-->
      <!--</span>-->

      <!--<span v-else>Select Colour</span>-->

      <!--<span class="icon is-small"><i class="fas fa-angle-down"></i></span>-->
      <!--</button>-->
      <!--</div>-->

      <!--<div class="dropdown-menu has-text-left" id="dropdown-menu" role="menu">-->
      <!--<div class="dropdown-content is-paddingless">-->
      <!--<ul>-->
      <!--<li class="dropdown-item" v-for="color in colors" @click="changeColor(color)">-->
      <!--<span class="is-color-box" :style="{ backgroundColor: color.hex }"></span>-->
      <!--{{ color.name }}-->
      <!--</li>-->
      <!--</ul>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->

      <div class="field">
        <button class="button is-danger is-rounded is-fullwidth is-delete" @click="deleteItem(selectedItem)">
          <span class="icon"><i class="fas fa-trash"></i></span>
          <span>Item</span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ItemProperty',
    props: {
      selectedItem: Object,
      showProperty: Boolean
    },
    data () {
      return {
        colors: [
          { hex: '#FFA07A', name: 'Light Salmon' },
          { hex: '#CD5C5C', name: 'Indian Red' },
          { hex: '#DC143C', name: 'Crimson' },
          { hex: '#20B2AA', name: 'Light Sea Green' },
          { hex: '#008B8B', name: 'Dark Cyan' },
          { hex: '#4682B4', name: 'Steel Blue' }
        ],
        colorPickerActive: false
      }
    },
    methods: {
      rotateItem (ev) {
        const item = {
          type: 'rotate',
          rotation: parseInt(ev.target.value)
        }

        ev.target.dataset.rotate = ev.target.value

        this.$store.commit('modifyItem', item)

        this.transformItem()
      },
      scaleItem (ev) {
        const item = {
          type: 'scale',
          scale: parseFloat(ev.target.value)
        }

        ev.target.dataset.scale = ev.target.value

        this.$store.commit('modifyItem', item)

        this.transformItem()
      },
      orderForward () {
        this.$store.commit('setZIndex', 1)

        this.stackOrder()
      },
      orderBackward () {
        if (this.selectedItem.zIndex > 1) {
          this.$store.commit('setZIndex', -1)
        }

        this.stackOrder()
      },
      stackOrder () {
        const item = document.getElementById(this.selectedItem.uuid)
        item.style.zIndex = this.selectedItem.zIndex
      },
      changeColor (color) {
        this.$store.commit('changeColor', {
          hex: color.hex,
          name: color.name
        })

        const item = document.getElementById(this.selectedItem.uuid)

        if (item.dataset.type.includes('text')) {
          item.style.color = color.hex
        } else {
          item.style.backgroundColor = color.hex
        }

        this.colorPickerActive = false
      },
      deleteItem (item) {
        const obj = document.getElementById(item.uuid)
        obj.remove()

        this.$store.commit('deleteItem', item)
        this.$store.commit('setHideProperty')

        this.$parent.notify({
          type: 'danger',
          message: `${item.name} has been deleted.`
        }, 3500)
      },
      transformItem () {
        const item = document.getElementById(this.selectedItem.uuid)
        item.style.transform = `rotate(${this.selectedItem.rotation}deg) scale(${this.selectedItem.scale})`
      }
    }
  }
</script>

<style lang="scss" scoped>
  span {
    &.icon {
      cursor: pointer;
    }
  }

  input[type=range] {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb {
      -webkit-appearance: none;
      border: 1px solid #000000;
      height: 36px;
      width: 16px;
      border-radius: 3px;
      background: #ffffff;
      cursor: pointer;
      margin-top: -14px;
      box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    }

    &::-webkit-slider-runnable-track,
    &::-moz-range-track,
    &::-ms-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
      background: #3071a9;
      border-radius: 1.3px;
      border: 0.2px solid #010101;
    }
  }

  .label {
    color: #ccc;
  }

  .is-property-box {
    background-color: #5e5d62;
    box-shadow: none;
  }

  .is-name {
    color: #fff;
    background-color: #02bbab;
  }

  .dropdown {
    width: 100%;
    display: block;
  }

  .is-selected-color {
    width: 100%;

    &.icon {
      float: right;
    }
  }

  .dropdown-menu {
    min-width: 100%;
  }

  .dropdown-item {
    cursor: pointer;
    border: 0.5px solid #000;

    &:hover {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }

  .is-color-box {
    padding: 0 15px;
    margin-right: 5px;
  }
</style>
