<template>
  <div class="columns is-gapless">
    <div class="column">
      <prologue/>
      <board-room/>
      <invitation/>
      <preparation/>
      <question/>
      <conference/>
      <video-thumbs @openVideoModal="openVideoModal"/>
      <panel-discussion/>
      <infographic/>
    </div>

    <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
      <video-modal :key="isActive" :isActive="isActive" :selectedVideo="selectedVideo" v-if="selectedVideo"
                   @closeVideoModal="closeVideoModal"/>
    </transition>
  </div>
</template>

<script>
  import Prologue from '@/components/Prologue'
  import BoardRoom from '@/components/BoardRoom'
  import Invitation from '@/components/Invitation'
  import Preparation from '@/components/Preparation'
  import Question from '@/components/Question'
  import Conference from '@/components/Conference'
  import VideoThumbs from '@/components/VideoThumbs'
  import PanelDiscussion from '@/components/PanelDiscussion'
  import Infographic from '@/components/Infographic'
  import VideoModal from '@/components/VideoModal'

  export default {
    name: 'MainContent',
    components: {
      Prologue,
      BoardRoom,
      Invitation,
      Preparation,
      Question,
      Conference,
      VideoThumbs,
      PanelDiscussion,
      Infographic,
      VideoModal
    },
    data () {
      return {
        isActive: false,
        selectedVideo: {}
      }
    },
    mounted () {
      document.querySelector('html').style.overflow = 'hidden'
      document.querySelector('body').style.overflow = 'hidden'

      window.addEventListener('scroll', () => {
        if (window.scrollY >= (document.body.clientHeight - window.innerHeight)) {
          window.localStorage.setItem('isFirstTry', JSON.stringify(false))

          document.querySelector('html').removeAttribute('style')
          document.querySelector('body').removeAttribute('style')
        }
      })

      window.addEventListener('keyup', ev => {
        if (ev.key === 'Escape') this.closeVideoModal()
      })
    },
    methods: {
      openVideoModal (video) {
        this.selectedVideo = video
        this.isActive = true
      },
      closeVideoModal () {
        this.isActive = false
        this.selectedVideo = null

        const videos = this.$el.querySelectorAll('video')

        for (let video of videos) {
          video.pause()
        }
      }
    }
  }
</script>
