<template>
  <div class="modal" :class="{ 'is-active': isActive }">
    <div class="modal-background" @click="closeMessageModal "></div>

    <div class="modal-content">
      <div class="modal-card-body">
        <div class="content">
          <h1 class="title">{{ title }}</h1>

          <p class="content" :key="messageCounter" v-html="message.text"></p>

          <transition enter-active-class="animated flipInX">
            <button class="button is-fullwidth is-orange is-next" :key="messageCounter" @click="goto(message)">
              {{ message.button }}
            </button>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import NextSection from '@/components/NextSection'

  export default {
    name: 'MessageModal',
    components: { NextSection },
    props: {
      isActive: Boolean
    },
    data () {
      return {
        messageCounter: 0,
        title: 'From: Earthling 313',
        messages: [
          {
            text: 'Dear Planetoon, <br><br> You are invited to Earth for the \'Inaugural Interplanetary Food Security Conference\'. We wish to address this issue, observe best practices, and find a way for all of us in our galaxies to meet the needs of food production.<br> <br> Please RSVP.',
            button: 'Confirm'
          },
          {
            text: 'You have confirmed your attendance. <br><br> We look forward to seeing you at the conference.',
            button: 'Attend'
          }
        ]
      }
    },
    computed: {
      message () {
        return this.messages[this.messageCounter]
      }
    },
    methods: {
      closeMessageModal () {
        this.$emit('closeMessageModal')
      },
      goto (message) {
        const index = this.messages.indexOf(message)

        if (index === this.messages.length - 1) {
          const nextSection = document.getElementById('invitation')

          this.gotoSection(nextSection)
        } else {
          this.messageCounter++
        }
      },
      gotoSection (section) {
        window.scroll({
          top: section.offsetTop,
          left: 0,
          behavior: 'smooth'
        })

        this.closeMessageModal()
      }
    }
  }
</script>

<style lang="scss" scoped>
  .modal-content {
    width: 40%;
  }
</style>
