<template>
  <div class="columns is-centered has-text-centered">
    <div class="column is-1">
      <button class="button is-dark is-medium is-next" @click="gotoSection(next)">
        <i class="fa fa-chevron-down"></i>
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'NextSection',
    props: {
      next: String
    },
    methods: {
      gotoSection (next) {
        const nextSection = document.getElementById(next)

        window.scroll({
          top: nextSection.offsetTop,
          left: 0,
          behavior: 'smooth'
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .fa-chevron-down {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes bounce {
    0% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
    }

    50% {
      -webkit-transform: translateY(25%);
      -moz-transform: translateY(25%);
      -ms-transform: translateY(25%);
      -o-transform: translateY(25%);
      transform: translateY(25%);
    }
  }
</style>
