<template>
  <div class="notification" :class="`is-${notification.type}`">
    <p class="content has-text-centered">
      {{ notification.message }}
    </p>
  </div>
</template>

<script>
  export default {
    name: 'Notification',
    props: { notification: Object }
  }
</script>
