<template>
  <section id="panel-discussion" :style="{ backgroundImage: `url(${require(`@/assets/images/bg-discussion.jpg`)})` }">
    <div id="panel-cover" class="hero is-fullheight">

      <div class="banner">
        <img :src="require(`@/assets/images/banner.png`)" alt="">
      </div>

      <div class="column is-5 is-offset-one-quarter">
        <div class="box content">
          <h1 class="content is-size-3 is-uppercase has-text-weight-bold">Panel Discussion</h1>

          <p>
            Planetoon and other panel members at the conference respond to a series of questions.
            <br/>
            A debate ensues.
          </p>

          <button class="button is-orange" @click="isActive = true">Click here to view the panel discussion</button>
        </div>
      </div>

      <div class="hero-body">
        <div class="container">

        </div>
      </div>

      <next-section next="infographic"/>
    </div>

    <transition enter-active-class="animated fadeIn">
      <discussion-modal :isActive="isActive" @closeModal="closeModal" v-if="isActive"></discussion-modal>
    </transition>
  </section>
</template>

<script>
  import DiscussionModal from '@/components/DiscussionModal'
  import NextSection from '@/components/NextSection'

  export default {
    name: 'PanelDiscussion',
    components: { DiscussionModal, NextSection },
    data () {
      return {
        isActive: false,
        scroll: {
          currentPosition: 0,
          videoPosition: 0
        }
      }
    },
    mounted () {
      this.handleScroll()

      window.addEventListener('scroll', this.handleScroll)
    },
    methods: {
      closeModal () {
        this.isActive = false
      },
      handleScroll () {
        const showVideoBar = document.getElementById('panel-discussion')

        this.scroll.currentPosition = window.scrollY

        if (this.scroll.currentPosition > showVideoBar.offsetTop * (0.99) && this.scroll.currentPosition < showVideoBar.offsetTop * (1.01)) {
          this.$emit('toggleSidebarVideoTrue')
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  #discussion {
    background-color: #212121;
  }

  #panel-discussion {
    position: relative;
  }

  .banner {
    position: absolute;
    top: 3%;
    right: 10%;
    width: 20%;
  }

  video {
    height: calc(100vh - 50px);
  }

  .box {
    background-color: rgba(255, 255, 255, 0.75);
  }
</style>
