<template>
  <section id="preparation" class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-preparation.jpg`)})`}">
    <div class="hero-body">
      <div class="container">
        <div class="column is-one-third is-pulled-right">
          <h1 class="title is-uppercase">Preparation is <span>Key</span></h1>

          <p class="content">
            Before Planetoon flies to Earth to attend the conference, he goes in search of answers on his mobile device. After all, he does not want to ask silly questions.
          </p>

          <p class="content">
            He activates the voice assistance on his device and proceeds with his queries.
          </p>

          <button class="button is-info is-medium is-uppercase" @click="openSetupModal">
            <i class="fa fa-fw fa-microphone"></i>
          </button>
        </div>
      </div>
    </div>

    <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
      <setup-modal :key="isActive" :isActive="isActive" @closeSetupModal="closeSetupModal"/>
    </transition>

    <next-section next="question"/>
  </section>
</template>

<script>
  import SetupModal from '@/components/SetupModal'
  import NextSection from '@/components/NextSection'

  export default {
    name: 'Preparation',
    components: { SetupModal, NextSection },
    data () {
      return {
        isActive: false
      }
    },
    mounted () {
      window.addEventListener('keyup', ev => {
        if (ev.key === 'Escape') this.closeSetupModal()
      })
    },
    methods: {
      openSetupModal () {
        this.isActive = true
      },
      closeSetupModal () {
        this.isActive = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background-size: cover;
  }

  h1 {
    > span {
      border-bottom: thick solid #23b7ac;;
    }
  }

  hr {
    position: relative;
    left: 25vw;
    width: 10%;
    background-color: #23b7ac;
  }

  .title {
    font-family: "Oswald Medium", sans-serif;
    font-weight: 500;
  }
</style>
