<template>
  <section id="prologue" class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-prologue.jpg`)})` }">
    <div class="hero-body">
      <div class="container">
        <div class="column is-half">
          <h1 class="title is-uppercase is-centered">Crisis 124</h1>

          <hr/>

          <p class="content is-size-3 prologue-text">
            In the galaxies not too far away, planets are facing a severe food crisis now codenamed 124. Planets face a boom in alien population.
          </p>
        </div>
      </div>
    </div>

    <next-section next="board-room"/>
  </section>
</template>

<script>
  import NextSection from '@/components/NextSection'

  export default {
    name: 'Prologue',
    components: { NextSection }
  }
</script>

<style lang="scss" scoped>

  section {
    background-color: #4a4a4d;
  }

  hr {
    width: 40%;
  }

  .title {
    font-family: "Oswald Medium", sans-serif;
    font-weight: bold;
    font-size: 3em;
  }

  .prologue-text {
    animation: scrolling 3s linear;
  }

  @keyframes scrolling {
    0% {
      opacity: 0;
      transform: translateY(300px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
</style>
