<template>
  <section id="question" class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-question.jpg`)})` }">
    <div class="hero-body">
      <div class="container">
        <div class="content">
          <transition enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOut">
            <ul v-show="current">
              <li :class="`margin-${index + 1}`" :key="question.item" v-for="(question, index) in questions">
                <span class="tag is-primary is-rounded">{{ index + 1 }}</span> {{ question.item }}
              </li>
            </ul>
          </transition>
        </div>
      </div>
    </div>

    <next-section next="conference"/>
  </section>
</template>

<script>
  import NextSection from '@/components/NextSection'

  export default {
    name: 'Question',
    components: { NextSection },
    mounted () {
      this.handleScroll()

      window.addEventListener('scroll', this.handleScroll)
    },
    data () {
      return {
        current: false,
        scroll: {
          position: 0,
          fadePosition: 0
        },
        questions: [
          { item: 'What is food security?' },
          { item: 'What is a global food system?' },
          { item: 'What is food distribution?' },
          { item: 'What are fairtrade practices?' },
          { item: 'How does climate affect food production?' },
          { item: 'How can we produce sustainable food?' },
          { item: 'What are the goals for the WHO?' },
          { item: 'What is a food bank?' },
          { item: 'How does a food bank work?' },
          { item: 'Who are the stakeholders?' },
          { item: 'What are the goals for the UNDP?' },
          { item: 'What are the goals for the FAO?' }
        ]
      }
    },
    methods: {
      handleScroll () {
        const current = document.getElementById('question')

        this.scroll.position = current.offsetTop * (9 / 10)

        this.scroll.fadePosition = window.scrollY

        this.current = this.scroll.fadePosition >= this.scroll.position
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background-size: cover;
  }

  @for $i from 1 through 20 {
    li {
      list-style-type: none;

      &.margin-#{$i} {
        margin-left: calc(#{$i} * 1vw);
      }

      & span {
        width: 2.5vw;
        height: 2.5vw;
        margin-right: 0.5vw;
      }
    }
  }
</style>
