<template>
  <div class="modal" :class="{ 'is-active' : isActive }">
    <div class="modal-background" @click="closeSetupModal"></div>

    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">How to setup Google Assistant</p>
        <button class="delete" aria-label="close" @click="closeSetupModal"></button>
      </header>

      <div class="modal-card-body">
        <div class="content">
          Google Assistant is baked right into any phone running Marshmallow and above. It can
          be accessed by long pressing the Home button or by saying "OK Google" or "Hey Google" if you have
          voice activation enabled. If you are logged into your Google Account, but have yet to setup Google
          Assistant, you can start the process by launching it from the home screen for the first time.

          <ul>
            <li>For Android users, Google Assistant can be downloaded from the Google Play Store. Once installed, follow the on-screen instructions for the setup process. You may require to repeat "OK Google!" thrice during setup.</li>

            <li>For iOS users, Google Assistant can be downloaded from the App Store. Once installed, follow the on-screen instructions for the setup process. You may require to repeat "OK Google!" thrice during setup.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'SetupModal',
    props: {
      isActive: Boolean
    },
    methods: {
      closeSetupModal () {
        this.$emit('closeSetupModal')
      }
    }
  }
</script>
