<template>
  <div class="modal" :class="{ 'is-active': isActive }">
    <div class="modal-background" @click="closeModal"></div>

    <div class="modal-content has-text-centered">
      <h1 class="is-uppercase">tutorial video</h1>
      <video :src="require(`@/assets/videos/food-video.mp4`)" autoplay controls></video>
      <button class="button is-orange is-medium" @click="closeModal">Close video</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'TutorialModal',
    props: {
      isActive: Boolean
    },
    methods: {
      closeModal () {
        this.$emit('closeModal')

        window.localStorage.setItem('hasTutorial', JSON.stringify(false))
      }
    }
  }
</script>

<style lang="scss" scoped>
  .modal-content {
    width: 60%;
  }

  h1 {
    color: whitesmoke;
    font-size: 3em;
    line-height: 110%;
  }

  video {
    padding: 2%;
  }
</style>
