<template>
  <div class="modal" :class="{ 'is-active': isActive }">
    <div class="modal-background" @click="closeVideoModal"></div>

    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title is-centered">{{ selectedVideo.title }}</p>
        <button class="delete" aria-label="close" @click="closeVideoModal"></button>
      </header>

      <div class="modal-card-body">
        <video :src="require(`@/assets/videos/video-${selectedVideo.name.toLowerCase().replace(/\s+/g, '-')}.mp4`)"
               autoplay controls playsinline v-if="Object.keys(selectedVideo).length > 0"></video>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'VideoModal',
    props: {
      isActive: Boolean,
      selectedVideo: Object
    },
    methods: {
      closeVideoModal () {
        this.$emit('closeVideoModal')
      }
    }
  }
</script>
