<template>
  <section id="video-thumbs" class="hero is-fullheight">
    <div class="hero-body">
      <div class="wrapper">
        <div class="cam-one">
          <img :src="require(`@/assets/images/cam-one.png`)" alt="">
        </div>

        <div class="cam-two">
          <img :src="require(`@/assets/images/cam-two.png`)" alt="">
        </div>

        <div class="banner has-text-centered">
          <img :src="require(`@/assets/images/banner.png`)">
        </div>

        <div class="columns">
          <div class="column video-image" :key="video.id" v-for="video in videos">
            <p class="subtitle has-text-centered is-light">{{ video.name }}</p>

            <img
              :src="require(`@/assets/images/video-placeholders/${video.name.toLowerCase().replace(/\s+/g, '-')}.png`)"
              @click="openVideoModal(video)" :alt="`Image placeholder for ${video.name}`"/>

            <p class="is-light is-size-6 has-text-centered">{{ video.description }}</p>
          </div>
        </div>
      </div>
    </div>

    <next-section next="panel-discussion"/>
  </section>
</template>

<script>
  import NextSection from '@/components/NextSection'

  export default {
    name: 'VideoThumbs',
    components: { NextSection },
    data () {
      return {
        videos: [
          {
            name: 'Science and Technology',
            description: 'Learn how science and technology can increase food supply.'
          },
          {
            name: 'Distribution',
            description: 'Learn how better food distribution can solve food shortages.'
          },
          {
            name: 'Local Food Systems',
            description: 'Learn how local food systems can change the food landscape.'
          },
          {
            name: 'Regulation',
            description: 'Learn how governments mitigate the implications of a food crisis.'
          }
        ]
      }
    },
    methods: {
      openVideoModal (video) {
        this.$emit('openVideoModal', video)
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background-color: #414046;
    position: relative;
  }

  .banner {
    margin-bottom: 5%;

    img {
      width: 25%;
    }
  }

  .video-image {
    img {
      margin: 5% 0;
      cursor: pointer;

      &:hover {
        mix-blend-mode: hard-light;
      }
    }
  }

  .cam-one {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 5%;
    animation: bounce 2.5s infinite ease-in-out;
  }

  .cam-two {
    position: absolute;
    top: 10%;
    right: 15%;
    width: 5%;
    animation: bounce 1.5s infinite reverse ease-in-out;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0) translateX(-10px);
    }
    40% {
      transform: translateY(10px);
    }
    60% {
      transform: translateY(-25px);
    }
  }
</style>
