<template>
  <div id="app">
    <section class="is-fullheight" v-show="isLandscape">
      <transition enter-active-class="animated fadeIn">
        <router-view/>
      </transition>
    </section>

    <section class="hero is-fullheight" v-show="!isLandscape">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered has-text-centered">
            <div class="column is-half is-offset-one-quarter">
              <img :src="require(`@/assets/images/rotate-device.svg`)" width="50%" height="50%"
                   alt="Image of rotating device"/>
              <p class="content is-uppercase is-size-4">Please rotate your device</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'App',
    computed: {
      ...mapState(['isLandscape'])
    },
    mounted () {
      this.invokeOrientationChange()

      window.addEventListener('resize', this.invokeOrientationChange)
    },
    methods: {
      invokeOrientationChange () {
        this.$store.commit('isLandscape', window.innerWidth > window.innerHeight * 1.25)
      }
    }
  }
</script>

<style lang="scss">
  @import './sass/app.scss';

  @font-face {
    font-family: 'Oswald';
    src: url("./assets/fonts/Oswald-Regular.ttf") format('truetype');
  }

  @font-face {
    font-family: 'Oswald Medium';
    src: url("./assets/fonts/Oswald-Medium.ttf") format('truetype');
  }

  html, body {
    background-color: #000;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
  }

  section {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }

  video {
    background-color: #000;
  }

  button {
    font-family: "Oswald", sans-serif;
  }

  .section {
    height: 100vh;
  }

  .title {
    font-family: "Oswald Medium", sans-serif;
    font-weight: 500;
  }

  .is-light {
    color: #eee;
  }

  .is-orange {
    color: whitesmoke;
    background-color: #1998B1;

    &:hover {
      color: whitesmoke;
      background-color: #ff7545;
    }
  }

  @media print {
    .no-print {
      display: none;
    }
  }
</style>
